[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
torch = "*"
snntorch = "*"
torchvision = "*"
matplotlib = "*"
kagglehub = {extras = ["pandas-datasets"], version = "*"}
datasets = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
